# Dependencies
node_modules/
.pnpm-store/

# Production Build Output
dist/
build/

# Environment Variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db
